@model BooklyProject.Entities.BookCategory
@{
    ViewBag.Title = "UpdateBookCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Kitap ve Kategori Güncelle</h2>


<form method="post">
    <input type="hidden" name="BookCategoryId" value="@Model.BookCategoryId" />
    <label>Kitap Id </label>
    <input type="text" name="BookId" value="@Model.BookId" class="form-control" required />
    <br />
    <label>Kategori Id</label>
    <input type="text" name="CategoryId" value="@Model.CategoryId" class="form-control" required />
    <br />

    <button class="btn btn-outline-dark"> <i class="fa fa-pen"></i>Güncelle</button>
</form>
