@model BooklyProject.Entities.PhotoGallery
@{
    ViewBag.Title = "AddPhoto";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni Fotoğraf Ekle</h3>

<form method="post">
    <label>Görsel url</label>
    <input type="text" name="ImageUrl" class="form-control" required />
    <br />
    <label>IsShown </label>
    <input type="text" name="IsShown" class="form-control" required />
    <br />
    
    <button class="btn btn-outline-dark"> <i class="fa fa-save"></i>Kaydet</button>
</form>
