@model BooklyProject.Entities.Author
@{
    ViewBag.Title = "AddAuthor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni Yazar Ekle</h3>

<form method="post">
    <label>Yazar İsmi</label>
    <input type="text" name="Name" class="form-control" required />
    <br />
    <label>Yazar Soyismi </label>
    <input type="text" name="Surname" class="form-control" required />
    <br />
    <button class="btn btn-outline-dark"> <i class="fa fa-save"></i>Kaydet</button>
</form>

